<nav class="navbar bg-light sticky-top">
  <div class="container-fluid">
    <span class="navbar-brand fw-bold" (click)="loadData()">{{ title }}</span>
    <form class="d-flex" role="search" [formGroup]="searchForm">
      <input class="form-control me-2" formControlName="search" type="search" placeholder="Search"
        aria-label="Search" />
      <button class="btn btn-outline-success me-2" type="click" (click)="handlerSearch()">
        Search
      </button>
      <!-- <button class="btn btn-outline-dark" type="click" (click)="clearData()">
        Clear Data
      </button> -->
      <!-- <button class="btn btn-outline-dark" type="click" (click)="loadData()">
        Load Data
      </button> -->
    </form>
  </div>
</nav>
<div class="container py-4">
  <div *ngIf="loading">caricamento in corso...</div>
  <div *ngIf="!loading">
    <ng-container *ngIf="result">
      <form>
        <div class="row row-cols-1 row-cols-lg-4">
          <div class="col">
            <label class="form-label">Ordinamento:</label>
            <select class="form-select" [(ngModel)]="selectedOrder" name="order">
              <option value="default" selected>Piu' venduti</option>
              <option value="asc">Prezzo crescente</option>
              <option value="desc">Prezzo decrescente</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label">Colore:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleziona colore'" [settings]="dropdownColorSettings"
              [data]="colorList" [(ngModel)]="selectedColors" [ngModelOptions]="{ standalone: true }"
              (onSelect)="onColorSelect($event)" (onSelectAll)="onColorSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col">
            <label class="form-label">Sesso:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleziona Sesso'" [settings]="dropdownSexSettings" [data]="sexList"
              [(ngModel)]="selectedSex" [ngModelOptions]="{ standalone: true }" (onSelect)="onSexSelect($event)"
              (onSelectAll)="onSexSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col">
            <label class="form-label">Marca:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleziona Marca'" [settings]="dropdownBrandSettings"
              [data]="BrandList" [(ngModel)]="selectedBrand" [ngModelOptions]="{ standalone: true }"
              (onSelect)="onBrandSelect($event)" (onSelectAll)="onBrandSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="mt-2">
          <button (click)="handlerFilter()" class="btn btn-primary me-2" type="button">
            Filtra
          </button>
          <button (click)="resetFilter()" class="btn btn-dark" type="reset">
            Reset
          </button>
        </div>
      </form>
      <h2 *ngIf="searchedWord" class="display-6">
        "{{ searchedWord | titlecase }}"
      </h2>
      <h3>Risultati trovati: {{ racketsNumber > 0 ? racketsNumber : " " }}</h3>
      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-4 g-3">
        <div class="col" *ngFor="let racket of result">
          <div class="card">
            <img [src]="racket.imageLink" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">{{ racket.marca | uppercase }}</h5>
              <p class="card-text">{{ racket.modello }}</p>
              <div class="d-flex justify-content-between">
                <span class="fw-bold fs-3" [ngClass]="{ 'text-danger': racket.vecchioPrezzo }">{{ racket.prezzo |
                  currency : "EUR" }}</span>
                <div *ngIf="racket.vecchioPrezzo > 0">
                  <span class="text-decoration-line-through">
                    {{ racket.vecchioPrezzo | currency : "EUR" }}
                  </span>
                </div>
                <a [href]="racket.url" class="btn btn-primary">vai al prodotto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="result.length == 0 && trySearch">
      <h3>Nessun risultato trovato.</h3>
      <p class="link-primary" (click)="loadData()">Torna alla homepage.</p>
    </div>

    <div *ngIf="errorServer" class="bg-danger p-2">
      Al momento il sito è in manutenzione, riprovare piu' tardi.
    </div>
  </div>
</div>
<div *ngIf="result.length > 0" class=" my-4">
  <mat-paginator #paginator class="demo-paginator" (page)="pageIndexingHandler($event)" [length]="racketsNumber"
      [pageSize]="20" [disabled]="false" [showFirstLastButtons]="true" [pageSizeOptions]="[]"
      [hidePageSize]="false" [pageIndex]="index-1" aria-label="Select page">
    </mat-paginator>
  <!-- <nav *ngIf="!loading" class="position-absolute bottom-0 end-0" aria-label="pagination">
    <ul class="pagination">
      <div *ngIf="index > 1">
        <li class="page-item">
          <a class="page-link" (click)="pageIndexingHandler(index - 1)">Previous</a>
        </li>
      </div>
      <span *ngIf="index > 1">
        <li class="page-item">
          <a class="page-link" (click)="pageIndexingHandler(1)">1</a>
        </li>
      </span>
      <span *ngIf="index > 2 && pagesNumber >5">
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
      </span>
      <div *ngIf="index < 1">
        <li class="page-item">
          <a class="page-link" (click)="pageIndexingHandler(index - 1)">{{
            index - 1
            }}</a>
        </li>
      </div>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ index }}</a>
      </li>
      <span *ngIf="index < pagesNumber && index + 1 != pagesNumber">
        <li class="page-item">
          <a class="page-link" (click)="pageIndexingHandler(index + 1)">{{
            index + 1
            }}</a>
        </li>
      </span>
      <span *ngIf="index < pagesNumber -2">
        <li class="page-item">
          <a class="page-link">...</a>
        </li>
      </span>
      <span *ngIf="index < pagesNumber  && pagesNumber >5">
        <li class="page-item">
          <a class="page-link" (click)="pageIndexingHandler(pagesNumber)">{{
            pagesNumber
            }}</a>
        </li>
      </span>
      <span *ngIf="index < pagesNumber">
        <li class="page-item">
          <a class="page-link" (click)="pageIndexingHandler(index + 1)">Next</a>
        </li>
      </span>
    </ul>
  </nav> -->
</div>
