<nav class="navbar">
  <div class="container">
    <span class="navbar-brand fw-bold" (click)="loadData()">{{ title }}</span>
    <form class="d-flex" role="search" [formGroup]="searchForm">
      <input class="form-control me-2" formControlName="search" type="search" placeholder="Inserisci parola chiave"
        aria-label="Search" />
      <button class="btn btn-outline-success" type="click" (click)="handlerSearch()">
        Ricerca
      </button>
      <!-- <button class="btn btn-outline-dark" type="click" (click)="clearData()">
        Clear Data
      </button> -->
      <!-- <button class="btn btn-outline-dark" type="click" (click)="loadData()">
        Load Data
      </button> -->
    </form>
  </div>
</nav>
<div class="container py-4">
  <div *ngIf="loading">caricamento in corso...</div>
  <div *ngIf="!loading">
    <ng-container *ngIf="result">
      <form>
        <div class="row row-cols-1 row-cols-lg-4">
          <div class="col">
            <label class="form-label">Ordinamento:</label>
            <select class="form-select" [(ngModel)]="selectedOrder" name="order">
              <option value="default" selected>Piu' venduti</option>
              <option value="asc">Prezzo crescente</option>
              <option value="desc">Prezzo decrescente</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label">Colore:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleziona colore'" [settings]="dropdownColorSettings"
              [data]="colorList" [(ngModel)]="selectedColors" [ngModelOptions]="{ standalone: true }"
              (onSelect)="onColorSelect($event)" (onSelectAll)="onColorSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col">
            <label class="form-label">Sesso:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleziona Sesso'" [settings]="dropdownSexSettings" [data]="sexList"
              [(ngModel)]="selectedSex" [ngModelOptions]="{ standalone: true }" (onSelect)="onSexSelect($event)"
              (onSelectAll)="onSexSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col">
            <label class="form-label">Marca:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleziona Marca'" [settings]="dropdownBrandSettings"
              [data]="BrandList" [(ngModel)]="selectedBrand" [ngModelOptions]="{ standalone: true }"
              (onSelect)="onBrandSelect($event)" (onSelectAll)="onBrandSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="mt-2">
          <button (click)="handlerFilter()" class="btn btn-primary me-2" type="button">
            Filtra
          </button>
          <button (click)="resetFilter()" class="btn btn-dark" type="reset">
            Reset
          </button>
        </div>
      </form>
      <h2 *ngIf="searchedWord" class="display-6">
        "{{ searchedWord | titlecase }}"
      </h2>
      <h3>Risultati trovati: {{ racketsNumber > 0 ? racketsNumber : " " }}</h3>
      <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-1 g-3">
        <div class="col" *ngFor="let racket of result">
          <div class="card">
            <span class="m-2 me-auto p-1 position-absolute text-bg-danger z-10" *ngIf="racket.vecchioPrezzo > 0">
              SCONTO {{getDiscountPercent(racket) | percent}}
            </span>
            <img [src]="racket.imageLink" class="card-img-top" />
            <div class="card-body info-racket d-flex flex-column">
              <div>
                <h5 class="card-title">{{ racket.marca | uppercase }}</h5>
                <p class="card-text">{{ racket.modello }}</p>
                <div class="d-flex flex-column">
                  <span class="text-decoration-line-through" *ngIf="racket.vecchioPrezzo > 0">
                    {{ racket.vecchioPrezzo | currency : "EUR" }}
                  </span>
                  <span class="fw-bold fs-3" [ngClass]="{ 'text-danger': racket.vecchioPrezzo }">{{ racket.prezzo |
                    currency : "EUR" }}</span>

                </div>
              </div>

              <a [href]="racket.url" target="_blank" class="align-self-end btn btn-dark w-100 mt-auto" [class]>Vai al prodotto</a>


            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="result.length == 0 && trySearch">
      <h3>Nessun risultato trovato.</h3>
      <p class="link-primary" (click)="loadData()">Torna alla homepage.</p>
    </div>

    <div *ngIf="errorServer" class="bg-danger my-2 p-2">
      Al momento il sito è in manutenzione, riprovare piu' tardi.
    </div>
  </div>
</div>
<div *ngIf="result.length > 0" class=" my-4">
  <mat-paginator #paginator class="demo-paginator" (page)="pageIndexingHandler($event)" [length]="racketsNumber"
    [pageSize]="20" [disabled]="false" [showFirstLastButtons]="true" [pageSizeOptions]="[]" [hidePageSize]="false"
    [pageIndex]="index-1" aria-label="Select page">
  </mat-paginator>
</div>
