<div class="container">
  <h2>Gestione racchette</h2>
  <nav>
    <form class="d-flex" role="search" [formGroup]="searchForm">
      <input class="form-control me-2" formControlName="search" type="search" placeholder="Search"
        aria-label="Search" />
      <button class="btn btn-outline-success" type="click" (click)="handlerSearch()">
        Search
      </button>
    </form>
  </nav>
  <div class="py-4">
      <ng-container *ngIf="racketList">
        <form>
          <div class="row row-cols-1 row-cols-lg-4">
            <div class="col">
              <label class="form-label">Ordinamento:</label>
              <select class="form-select" [(ngModel)]="selectedOrder" name="order">
                <option value="default" selected>Piu' venduti</option>
                <option value="asc">Prezzo crescente</option>
                <option value="desc">Prezzo decrescente</option>
              </select>
            </div>
            <div class="col">
              <label class="form-label">Colore:</label>
              <ng-multiselect-dropdown [placeholder]="'Seleziona colore'" [settings]="dropdownColorSettings"
                [data]="colorList" [(ngModel)]="selectedColors" [ngModelOptions]="{ standalone: true }"
                (onSelect)="onColorSelect($event)" (onSelectAll)="onColorSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col">
              <label class="form-label">Sesso:</label>
              <ng-multiselect-dropdown [placeholder]="'Seleziona Sesso'" [settings]="dropdownSexSettings"
                [data]="sexList" [(ngModel)]="selectedSex" [ngModelOptions]="{ standalone: true }"
                (onSelect)="onSexSelect($event)" (onSelectAll)="onSexSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col">
              <label class="form-label">Marca:</label>
              <ng-multiselect-dropdown [placeholder]="'Seleziona Marca'" [settings]="dropdownBrandSettings"
                [data]="BrandList" [(ngModel)]="selectedBrand" [ngModelOptions]="{ standalone: true }"
                (onSelect)="onBrandSelect($event)" (onSelectAll)="onBrandSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="mt-2">
            <button (click)="handlerFilter()" class="btn btn-primary me-2" type="button">
              Filtra
            </button>
            <button (click)="resetFilter()" class="btn btn-dark">
              Reset
            </button>
          </div>
        </form>
        <h2 *ngIf="searchedWord" class="display-6">
          "{{ searchedWord | titlecase }}"
        </h2>

      </ng-container>
      <div class="mt-2">
        <button class="btn btn-primary" routerLink="new-racket"><span><i class="fa fa-plus"></i></span> Aggiungi Prodotto</button>
      </div>
      <div *ngIf="racketList.length == 0 && trySearch">
        <h3>Nessun risultato trovato.</h3>
        <p class="link-primary" (click)="loadData()">Torna alla homepage.</p>
      </div>

      <div *ngIf="errorServer" class="bg-danger p-2">
        Al momento il sito è in manutenzione, riprovare piu' tardi.
      </div>
  </div>
  <div *ngIf="racketList.length > 0" class=" my-4">
    <mat-paginator #paginator class="demo-paginator" (page)="pageIndexingHandler($event)" [length]="racketsNumber"
      [pageSize]="20" [disabled]="false" [showFirstLastButtons]="true" [pageSizeOptions]="[]"
      [hidePageSize]="false" [pageIndex]="index-1" aria-label="Select page">
    </mat-paginator>
    <div class="table-responsive-lg">
      <table class="table table-hover ">
      <thead>
        <tr>
          <th class="cell-brand"scope="col">Marca</th>
          <th class="cell-model"scope="col">Modello</th>
          <th class="cell-price"scope="col">Prezzo</th>
          <th class="cell-actions" scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let racket of racketList">
          <td class="cell-brand">{{ racket.marca }}</td>
          <td class="cell-model">{{ racket.modello }}</td>
          <td class="cell-price">{{ racket.prezzo |currency:'EUR' }}</td>
          <td class="cell-actions">
            <span (click)="deleteRacket(racket)" class="me-2 actions"><i class="fa fa-trash"></i></span>
            <span (click)="updateHandlerRacket(racket)" routerLink="edit-racket" [state]=racket class="m-2 actions"><i class="fa fa-pencil"></i></span>
            <span (click)="readHandlerRacket(racket)" routerLink="detail-racket" [state]=racket class="m-2 actions"><i class="fa fa-eye"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <mat-paginator #paginator class="demo-paginator" (page)="pageIndexingHandler($event)" [length]="racketsNumber"
      [pageSize]="20" [disabled]="false" [showFirstLastButtons]="true" [pageSizeOptions]="[]"
      [hidePageSize]="false" [pageIndex]="index-1" aria-label="Select page">
    </mat-paginator>
  </div>



</div>
