.cell-brand{
  min-width:10rem;
  width: 100%;
}
.cell-model{
  min-width:25rem;
  width: 100%;

}
.cell-price{
  min-width: 15rem;
  width: 100%;

}
.cell-actions{
  min-width: 10rem;
  width: 100%;
}

.actions{
  cursor: pointer;
}
